* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: lime;
}

body {
    background-color: black;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

header h1 {
    background-color:lime;
    color:black;
    padding-left: 70px;
    margin-top: 15px;
    display: inline-block;
    font-size: 38px;
}

header nav {
    min-width: 450px;
    float: right; 
    padding-top: 15px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: right;
    font-size: 150%;
    font-family: fantasy; 
    text-decoration: underline;
    color: lime;
    padding: 10px;
    padding-right: 20px;
    opacity: .75;
}

/* keeps the nav links the same color after clicked */
a, a:visited{
    color: lime;
}

header nav ul li:hover {
    opacity: 1;
}

section.topPhoto {
    padding-top: 1px;
    margin-top: 10px;
    background-color: darkgrey;
    height: 150px;
    min-width: 1130px;
}

section.topPhoto h1 {
    background-color: lime;
    color:black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 80%;
    margin-top: 100px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 15px;
    font-size: 150%;

}

main {
    display: flex;
    flex-direction: column;
}
/*About Me header */
#aboutMe h2 {
    flex: 1 1 80%;
    min-width: 260px;
    max-width: 260px;
    text-align: center;
    margin-top: 5%;
    font-size: 3em;
    border-right: solid 5px lime;
}
 /*About Me paragraph  */
#aboutMe p {
    text-align: left;
    margin-right: 10%;
    margin-left: 20px;
    font-size: 24px;
    margin-top: 5%;
    margin-bottom: 1%;
}

.work {
    display: flex;
    flex-flow: row wrap;
}

/* work heading  */
#projects h2 {
    flex: 1 1 26%;
    min-width: 260px;
    max-width: 260px;
    margin-top: 2%;
    font-size: 3em;
    text-align: center;
    border-right: solid 5px lime;
}

#project1 {
    position: relative;
    text-align: center;
    color: #ffffff;
}

#project1 figcaption {
    color: black;
    position: absolute;
    padding: 20px;
    height: 70px;
    width: 220px;
    bottom: 60px;
    left: 26px;
    font-size: 30px;
    background-color: lime;
    border: 4px solid black;
    text-decoration: underline;
}

#project1 img {
    margin-left: 30px;
    margin-top: 30px;
    height: 600px;
    width: 850px;
    border: 5px solid lime;

    
}

#project2 img, #project3 img, #project4 img, #project5 img {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    height: 400px;
    width: 410px;
    border: 5px solid lime;
}

#project2 figcaption, #project3 figcaption, #project4 figcaption, #project5 figcaption {
    position: relative;
    bottom: 100px;
    left: 26px;
    width: 140px;
    height: 70px;
    padding-top: 24px;
    text-align: center;
    background-color: lime;
    color: black;
    font-size: 18px;
    text-decoration: underline;
    border: 4px solid black;
}

footer{
    display: flex;
    align-items: center;
    padding: 1%;
}

footer h2 {
    flex: 1 1 100%;
    min-width: 260px;
    max-width: 260px;
    text-align: center;
    margin-top: 1%;
    margin-left: -15px;
    font-size: 3em;
    border-right: solid 5px lime;

}

footer ul {
    list-style: none;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 1%;
}

footer ul li{
    display: inline;
    margin-left: 50px;
    font-size: 2em;
}